@import './src/styles/bootstrap/scss/bootstrap';
$body-background: #eaeaea;
$card-background: #666565;
$card-text-color: #b1ecff;
$font-family-awful: 'Lucida Calligraphy', 'Brush Script', 'Comic Sans',
    'Calibri';
